<div class="content-wrapper" [class.buttons-position-bottom]="buttonsPositionBottom()">
    <div class="content">
        <ng-content />
    </div>

    @if (buttons()) {
        <div class="buttons">
            <button class="btn btn-primary" (click)="primaryButtonClicked.emit()" type="button">{{ primaryButtonText() }}</button>
            <button class="btn btn-secondary" (click)="secondaryButtonClicked.emit()" type="button">{{ secondaryButtonText() }}</button>
        </div>
    }
</div>

@if (hasCloseButton()) {
  <button class="close-button" (click)="closeClicked.emit()" type="button"></button>
}
